[html]
directory = .test-results/pytest/cov/
show_contexts = true
skip_covered = false

[paths]
source =
  src
  */src
  *\src
  */lib/python*/site-packages
  */pypy*/site-packages
  *\Lib\site-packages

[report]
skip_covered = true
show_missing = true
exclude_also =
  \#\s*pragma: no cover
  ^\s*raise AssertionError\b
  ^\s*raise NotImplementedError\b
  ^\s*return NotImplemented\b
  ^\s*raise$
  ^if __name__ == ['"]__main__['"]:$

[run]
branch = true
command_line = -m pytest
cover_pylib = false
parallel = true
plugins =
  covdefaults
relative_files = true
source =
  .
source_pkgs =
  ansible_pygments
